<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragment/config :: configFragment" ></th:block>
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/styles.css}" >
    </th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Chats</title>
</head>
<body>

<header class="welcome-header" id="joinHeader">
    <h1 class="welcome-header__title">Chats 아이디 찾기</h1>
    <p class="welcome-header__text">
        핸드폰번호와 이름을 입력해주세요.
    </p>
</header>

<form action="/auth/findIdCheck" id="login-form" th:object="${idCheckDto}" method="post">

    <input th:field="*{handPhoneNo}" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="핸드폰번호를 입력해주세요." maxlength="13" />
    <span style="color:red; font-weight: bold;" class="err" th:if="${#fields.hasErrors('handPhoneNo')}" th:errors="*{handPhoneNo}" />
    <br>

    <input th:field="*{nickName}" type="text" placeholder="이름을 입력해주세요." />
    <span style="color:red; font-weight: bold;" class="err" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" />
    <br>

    <input type="button" onclick="findId()" value="아이디 찾기" />
    <input type="button" onclick="location.href='/auth/login'" value="뒤로가기" />
</form>

<script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous"
></script>
</body>
</html>

<script th:inline="javascript">

    function findId(){
        $("#login-form").submit();
    }

</script>
