<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragment/config :: configFragment" ></th:block>
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/styles.css}" >
    </th:block>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Chats</title>
</head>
<body>

<header class="welcome-header">
    <h1 class="welcome-header__title">Chats에 오신것을 환영합니다.</h1>
    <p class="welcome-header__text">
        이메일과 패스워드를 입력해주세요.
    </p>
</header>

<form id="login-form">
    <input type="text" id="loginId" name="loginId" placeholder="이메일을 입력해주세요." onkeyup="enterkey()" />
    <input type="password" id="loginPw" name="loginPw" placeholder="패스워드를 입력해주세요." onkeyup="enterkey()" />
    <input type="button" value="Log In" onclick="loginSubmit()" />

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
        <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
    </div>
    <br>
    <a href="/auth/join">회원가입</a>
    <br>
    <a href="/auth/findIdCheck">아이디 찾기</a>
    <br>
    <a href="/auth/findPwdCheck">패스워드 찾기</a>
</form>

<script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous"
></script>
</body>
</html>

<script th:inline="javascript">

     //로그인 submit
    function loginSubmit(){

        var rememberMe = $("#rememberMe:checked").val();

        var params = {
             'userId' : $.trim($("#loginId").val())
            ,'password' : $("#loginPw").val()
            ,'remember-me' : rememberMe
        }

        console.log(params);

        $.ajax({
             type : 'POST'
            ,url : '/auth/login-proc'
            ,dataType : 'json'
            ,data : params
            ,success : function(result) {
                console.log(result);
                if(result.resultCode != "00"){
                    alert(result.resultMessage);
                }

                else{
                    location.href=result.targetUrl;
                }
            },

            error: function(request, status, error) {

            }
        })
    }

    function enterkey() {
        if (window.event.keyCode == 13) {
            // 엔터키가 눌렸을 때
            loginSubmit()
        }
    }


</script>
